name: {{pubName}}
version: {{pubVersion}}
description: {{pubDescription}}
environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=2.0.2"
dependencies:
  tangqiu_api:
    git:
      url: {{apiLibHost}}
      ref: {{apiLibVersion}}
dev_dependencies:
  test: ^1.17.3
